# WordPress
app/
wp-config.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
wp-content/languages/*
wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/mu-plugins/*
!wp-content/mu-plugins/.gitkeep
wp-content/upgrade
!wp-content/upgrade/.gitkeep
wp-content/uploads/*
!wp-content/uploads/.htaccess
!wp-content/mu-plugins/disallow-indexing.php
wp-content/cache/
!wp-content/cache/.gitkeep
wp-content/w3tc-config/
!wp-content/w3tc-config/.config-default

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDE
.idea
*~