# WordPress
public/app/
public/wp-config.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
public/wp-content/languages/*
public/wp-content/plugins/*
!public/wp-content/plugins/.gitkeep
public/wp-content/mu-plugins/*
!public/wp-content/mu-plugins/.gitkeep
public/wp-content/upgrade
!public/wp-content/upgrade/.gitkeep
public/wp-content/uploads/*
!public/wp-content/uploads/.htaccess
!public/wp-content/mu-plugins/disallow-indexing.php
public/wp-content/cache
public/wp-content/wp-rocket-config

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules
public/node_modules

# Vagrant
bin
.vagrant

# IDE
.idea
*~